---
import Image from "astro/components/Image.astro";
import Softly from "../assets/softly.png";
import Lottery from "../assets/lottery.png";
import Travel from "../assets/travel.png";
import Menu from "../assets/menu.png";
---

<section id="projects" class="py-20 bg-black">
	<div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between items-center mb-6">
			<h2 class="text-6xl font-bold w-1/4">MY PROJECTS</h2>
			<p class="uppercase w-1/3">
				Intuitive design that delights the user. Fluid experiences that
				solve real problems. Interfaces that not only look good, but
				also perform exceptionally. Proof, in every interaction of our
				projects.
			</p>
		</div>
		<div class="grid gap-9 grid-cols-2 grid-rows-2">
			<div class="mb-10">
				<a
					href="https://www.figma.com/proto/S0mU2pbxosFhRRkO5gTmFi/SOFTLY?t=z5buNoBTLu6D93zN-1"
					rel="noopener noreferrer"
					target="_blank"
				>
					<Image
						class="rounded-2xl mb-3 hover:scale-105 transition-transform"
						loading="lazy"
						src={Softly}
						alt="Landing page with a modern and minimalist design for the software company 'Softly'. The visual composition and tagline 'We craft digital EXPERIENCES' communicate the brand's value proposition, intuitively guiding the user towards the 'Talk to us' call-to-action."
					/>
				</a>
				<h4 class="text-2xl uppercase mb-2">
					Landing Page for a Tech Agency
				</h4>
				<p class="mb-5">
					A landing page was designed for "Softly" with the purpose of
					capturing potential clients through a clear and direct
					message. Using a modern and minimalist design, a visual
					composition was created to communicate innovation and
					professionalism, intuitively guiding the user towards the
					primary conversion goal: making contact.
				</p>
				<a
					href="https://www.figma.com/proto/S0mU2pbxosFhRRkO5gTmFi/SOFTLY?t=z5buNoBTLu6D93zN-1"
					target="_blank"
					class="underline uppercase"
					rel="noopener noreferrer">See the project</a
				>
			</div>
			<div class="mb-10">
				<a
					href="https://www.figma.com/proto/6GIyuxyx373fDGFBMqFA4h/APP-DE-SORTEO--Copy-?node-id=0-1&t=z5buNoBTLu6D93zN-1"
					rel="noopener noreferrer"
					target="_blank"
				>
					<Image
						class="rounded-2xl mb-3 hover:scale-105 transition-transform"
						loading="lazy"
						src={Lottery}
						alt="User interface for a lottery application, designed for a clear and engaging user experience. Readability of prizes like the 'Weekly Jackpot' is prioritized, and calls-to-action are highlighted to maximize participation and ticket purchases."
					/>
				</a>
				<h4 class="text-2xl uppercase mb-2">
					LotoApp: UI/UX Design for a Digital Lottery
				</h4>
				<p class="mb-5">
					The goal was to design an online lottery application that
					builds trust and encourages recurring participation. The
					interface focuses on a clear visual hierarchy, attractively
					presenting prizes and simplifying the ticket-buying process
					to create a seamless, transparent, and exciting user
					experience.
				</p>
				<a
					href="https://www.figma.com/proto/6GIyuxyx373fDGFBMqFA4h/APP-DE-SORTEO--Copy-?node-id=0-1&t=z5buNoBTLu6D93zN-1"
					target="_blank"
					class="underline uppercase"
					rel="noopener noreferrer">See the project</a
				>
			</div>
			<div class="mb-10">
				<a
					href="https://www.figma.com/proto/2ZmeyfrlqpHkawMmmxMfBi/Turismo-page?t=z5buNoBTLu6D93zN-1"
					rel="noopener noreferrer"
					target="_blank"
				>
					<Image
						class="rounded-2xl mb-3 hover:scale-105 transition-transform"
						loading="lazy"
						src={Travel}
						alt="Design concept for a travel agency's homepage, centered on a highly visual and inspiring user experience. The modular card-based layout facilitates the exploration of destinations like Punta Cana and Cartagena, simplifying the decision-making and booking process."
					/>
				</a>
				<h4 class="text-2xl uppercase mb-2">
					Brand Travel: Travel Experience Platform
				</h4>
				<p class="mb-5">
					The challenge was to design a travel agency's homepage
					focused on inspiration and ease of use. A highly visual,
					card-based interface was implemented that allows users to
					explore destinations intuitively, reducing friction in the
					search process and simplifying the path to booking their
					next adventure.
				</p>
				<a
					href="https://www.figma.com/proto/2ZmeyfrlqpHkawMmmxMfBi/Turismo-page?t=z5buNoBTLu6D93zN-1"
					target="_blank"
					class="underline uppercase"
					rel="noopener noreferrer">See the project</a
				>
			</div>
			<div class="mb-10">
				<a
					href="https://www.figma.com/proto/Td0ix4W5QCQxNTgCfH26g4/Men%C3%BA-Digital?node-id=1-2&t=z5buNoBTLu6D93zN-1"
					target="_blank"
					rel="noopener noreferrer"
				>
					<Image
						class="rounded-2xl mb-3 hover:scale-105 transition-transform"
						loading="lazy"
						src={Menu}
						alt="Web design for a fine dining restaurant, focused on conversion through a prominent 'Book Online' button. The UI blends a sophisticated aesthetic with the brand's philosophy to create an immersive and elegant digital experience."
					/>
				</a>
				<h4 class="text-2xl uppercase mb-2">
					La Maison: A Culinary Digital Experience
				</h4>
				<p class="mb-5">
					This project involved designing the digital menu for a fine
					dining restaurant, aiming to translate its sophisticated
					atmosphere to the web. The strategy was based on combining
					an elegant aesthetic with brand storytelling ("Our
					Philosophy") and a clear, accessible call-to-action to "Book
					Online," thus optimizing the conversion of visitors into
					diners.
				</p>
				<a
					href="https://www.figma.com/proto/Td0ix4W5QCQxNTgCfH26g4/Men%C3%BA-Digital?node-id=1-2&t=z5buNoBTLu6D93zN-1"
					target="_blank"
					class="underline uppercase"
					rel="noopener noreferrer">See the project</a
				>
			</div>
		</div>
	</div>
</section>
