<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Maitee Batista - UI/UX Designer</title>
		<meta name="description" content="UI/UX Designer creating intuitive and beautiful digital experiences." />
		<meta name="author" content="Maitee Batista" />
		<meta name="keywords" content="UI/UX Designer, Maitee Batista, UI/UX, Designer, Digital Experience, Interactive Design, User Experience, User Interface, Design, Portfolio" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
